<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fad03e3d-3701-4979-9453-21528170ee33" Alias="homepage" Level="1">
  <Info>
    <Name>Homepage</Name>
    <Icon>icon-home color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="fd219f50-8d25-4d31-94b5-fb8a7b525fc9">cspSettings</Composition>
    </Compositions>
    <DefaultTemplate>homepage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b66daa22-e3af-472d-8fdc-5ad8bba0cc60">homepage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="2a94f4d1-2bc7-42eb-a848-6aa9b678de91" SortOrder="0">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>