<style>
	.csp-accordion-btn {
		display: flex;
		width: 100%;
		text-align: left;
		padding: 0.5rem 1rem;
    	align-items: center;
		background-color: var( --uui-button-background-color, var(--uui-color-surface-alt,#f3f3f5) );
		color: var(--uui-button-contrast, var(--color-standalone));
    	border-color: var(--uui-button-border-color, transparent);
		font-weight: var(--uui-button-font-weight, 700);
		border-radius: var( --uui-button-border-radius, var(--uui-border-radius,3px) );
		border-style: solid;
		border-width: var(--uui-button-border-width, 1px);
	}

	.csp-accordion-btn.active {
		border-color: var(--uui-button-border-color, --color-standalone);
		border-bottom-color: var(--uui-button-border-color, transparent);
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	
	.csp-accordion {
		display: none;
		padding: 1rem;
		border-style: solid;
		border-width: var(--uui-button-border-width, 1px);
		border-radius: var( --uui-button-border-radius, var(--uui-border-radius,3px) );
		background-color: var(--uui-button-background-color, transparent);
		color: var(--uui-button-contrast, var(--color-standalone));
		border-color: var(--uui-button-border-color, --color-standalone);
		font-weight: var(--uui-button-font-weight, 700);
	}

	.csp-accordion.show {
		display: block;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
    .csp-subtitle {
        font-size: 14px;
        font-weight: normal;
    }
</style>

<div ng-controller="cspManagerEditController as vm">
	<umb-editor-view>
		<umb-editor-header 
			name="vm.page.name"
			name-locked="true"
			hide-icon="true"
			hide-description="true"
			hide-alias="true"
			navigation="vm.page.navigation">
		</umb-editor-header>

		<umb-editor-container>
			<uui-loader ng-if="vm.page.loading"></uui-loader>

			<umb-editor-sub-views ng-if="!vm.page.loading"
								  sub-views="vm.page.navigation"
								  model="vm.definition">
			</umb-editor-sub-views>

			
		</umb-editor-container>

		<umb-editor-footer>
			<umb-editor-footer-content-right>
				<uui-button look="primary" color="positive" type="button" label="Save" ng-click="vm.save()" state="{{vm.saving}}"></uui-button>
			</umb-editor-footer-content-right>
		</umb-editor-footer>
	</umb-editor-view>
</div>