<?xml version="1.0" encoding="utf-8"?>
<Content Key="cac22a44-2b20-4876-8b99-d56ad6420a0f" Alias="Homepage" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Homepage</Path>
    <Trashed>false</Trashed>
    <ContentType>homepage</ContentType>
    <CreateDate>2025-08-09T23:01:21</CreateDate>
    <NodeName Default="Homepage" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b66daa22-e3af-472d-8fdc-5ad8bba0cc60">homepage</Template>
  </Info>
  <Properties>
    <applyNonce>
      <Value><![CDATA[]]></Value>
    </applyNonce>
  </Properties>
</Content>