<?xml version="1.0" encoding="utf-8"?>
<Content Key="2276b707-85bc-442b-953c-fbdadf6b0bfc" Alias="Test Pages" Level="2">
  <Info>
    <Parent Key="cac22a44-2b20-4876-8b99-d56ad6420a0f">Homepage</Parent>
    <Path>/Homepage/TestPages</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2025-08-09T23:06:46</CreateDate>
    <NodeName Default="Test Pages" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7c67ebf2-f81d-47d1-bb45-109e9a0bcae1">ContentPage</Template>
  </Info>
  <Properties>
    <applyNonce>
      <Value><![CDATA[]]></Value>
    </applyNonce>
  </Properties>
</Content>