<?xml version="1.0" encoding="utf-8"?>
<Content Key="bc5af91c-f263-4703-8a26-5c94b44518da" Alias="With Nonce" Level="3">
  <Info>
    <Parent Key="2276b707-85bc-442b-953c-fbdadf6b0bfc">Test Pages</Parent>
    <Path>/Homepage/TestPages/WithNonce</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2025-08-09T23:06:55</CreateDate>
    <NodeName Default="With Nonce" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7c67ebf2-f81d-47d1-bb45-109e9a0bcae1">ContentPage</Template>
  </Info>
  <Properties>
    <applyNonce>
      <Value><![CDATA[1]]></Value>
    </applyNonce>
  </Properties>
</Content>