<?xml version="1.0" encoding="utf-8"?>
<Content Key="5b5a07a4-3fab-4385-8df1-c395c2ff0fcd" Alias="Without Nonce" Level="3">
  <Info>
    <Parent Key="2276b707-85bc-442b-953c-fbdadf6b0bfc">Test Pages</Parent>
    <Path>/Homepage/TestPages/WithoutNonce</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2025-08-09T23:07:04</CreateDate>
    <NodeName Default="Without Nonce" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7c67ebf2-f81d-47d1-bb45-109e9a0bcae1">ContentPage</Template>
  </Info>
  <Properties>
    <applyNonce>
      <Value><![CDATA[]]></Value>
    </applyNonce>
  </Properties>
</Content>