$link-color: #283a97;
$btn-primary-color: #283a97;
$body-heading-color: #1c1d1f;
$body-text-color: #1c1d1f;
$border-color: #e3e5eb;
$sidebar-color: #ffffff;
$search-background-color: #ffffff;
$table-background-color: #ffffff;
$feedback-color: #f5f6fa;
