@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Homepage>
@{
	Layout = "_Layout.cshtml";
}

<ul>
	@foreach(var child in Model.Children()){
		<li>
			<a href="@child.Url()">@child.Name</a>
		</li>
    }
</ul>