<?xml version="1.0" encoding="utf-8"?>
<Content Key="d69e6856-cafc-4e6b-b280-bbd3bfb7ab3d" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2026-03-13T19:32:39</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Example]]></Value>
    </title>
  </Properties>
</Content>