<?xml version="1.0" encoding="utf-8"?>
<Content Key="efddd79a-9051-4334-9d50-cacd78667c5f" Alias="Home 2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home2</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2026-03-13T19:36:23</CreateDate>
    <NodeName Default="Home 2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[eample2]]></Value>
    </title>
  </Properties>
</Content>