<?xml version="1.0" encoding="utf-8"?>
<csp-policy Key="9cbfa28c-2b19-40f4-9f8e-bbc52bd8e780" Alias="backoffice">
  <Info>
    <IsBackOffice>true</IsBackOffice>
    <Enabled>false</Enabled>
    <ReportOnly>false</ReportOnly>
    <ReportUri></ReportUri>
    <ReportingDirective></ReportingDirective>
    <UpgradeInsecureRequests>false</UpgradeInsecureRequests>
  </Info>
  <Sources>
    <Source definitionId="9cbfa28c-2b19-40f4-9f8e-bbc52bd8e780" value="'self'">
      <Directives>default-src, script-src, style-src, img-src, font-src</Directives>
    </Source>
    <Source definitionId="9cbfa28c-2b19-40f4-9f8e-bbc52bd8e780" value="'unsafe-eval'">
      <Directives>script-src</Directives>
    </Source>
    <Source definitionId="9cbfa28c-2b19-40f4-9f8e-bbc52bd8e780" value="'unsafe-inline'">
      <Directives>script-src, style-src</Directives>
    </Source>
    <Source definitionId="9cbfa28c-2b19-40f4-9f8e-bbc52bd8e780" value="dashboard.umbraco.com">
      <Directives>img-src</Directives>
    </Source>
    <Source definitionId="9cbfa28c-2b19-40f4-9f8e-bbc52bd8e780" value="data:">
      <Directives>img-src, media-src</Directives>
    </Source>
    <Source definitionId="9cbfa28c-2b19-40f4-9f8e-bbc52bd8e780" value="marketplace.umbraco.com">
      <Directives>default-src</Directives>
    </Source>
    <Source definitionId="9cbfa28c-2b19-40f4-9f8e-bbc52bd8e780" value="our.umbraco.com">
      <Directives>default-src, img-src</Directives>
    </Source>
  </Sources>
</csp-policy>