<?xml version="1.0" encoding="utf-8"?>
<csp-policy Key="fac780be-53af-41dc-b51d-1aa647100221" Alias="front-end">
  <Info>
    <IsBackOffice>false</IsBackOffice>
    <Enabled>true</Enabled>
    <ReportOnly>true</ReportOnly>
    <ReportUri></ReportUri>
    <ReportingDirective></ReportingDirective>
    <UpgradeInsecureRequests>true</UpgradeInsecureRequests>
  </Info>
  <Sources>
    <Source definitionId="fac780be-53af-41dc-b51d-1aa647100221" value="'none'">
      <Directives>object-src, worker-src, trusted-types</Directives>
    </Source>
  </Sources>
</csp-policy>