<?xml version="1.0" encoding="utf-8"?>
<CspManager Key="9cbfa28c-2b19-40f4-9f8e-bbc52bd8e780" Alias="backoffice">
  <Info>
    <IsBackOffice>true</IsBackOffice>
    <Enabled>false</Enabled>
    <ReportOnly>false</ReportOnly>
    <ReportUri></ReportUri>
    <ReportingDirective></ReportingDirective>
    <UpgradeInsecureRequests>false</UpgradeInsecureRequests>
  </Info>
  <Sources>
    <Source definitionId="9cbfa28c-2b19-40f4-9f8e-bbc52bd8e780">
      <Value>'self'</Value>
      <Directives>
        <Directive>default-src</Directive>
        <Directive>script-src</Directive>
        <Directive>style-src</Directive>
        <Directive>img-src</Directive>
        <Directive>font-src</Directive>
      </Directives>
    </Source>
    <Source definitionId="9cbfa28c-2b19-40f4-9f8e-bbc52bd8e780">
      <Value>'unsafe-eval'</Value>
      <Directives>
        <Directive>script-src</Directive>
      </Directives>
    </Source>
    <Source definitionId="9cbfa28c-2b19-40f4-9f8e-bbc52bd8e780">
      <Value>'unsafe-inline'</Value>
      <Directives>
        <Directive>script-src</Directive>
        <Directive>style-src</Directive>
      </Directives>
    </Source>
    <Source definitionId="9cbfa28c-2b19-40f4-9f8e-bbc52bd8e780">
      <Value>dashboard.umbraco.com</Value>
      <Directives>
        <Directive>img-src</Directive>
      </Directives>
    </Source>
    <Source definitionId="9cbfa28c-2b19-40f4-9f8e-bbc52bd8e780">
      <Value>data:</Value>
      <Directives>
        <Directive>img-src</Directive>
      </Directives>
    </Source>
    <Source definitionId="9cbfa28c-2b19-40f4-9f8e-bbc52bd8e780">
      <Value>marketplace.umbraco.com</Value>
      <Directives>
        <Directive>default-src</Directive>
      </Directives>
    </Source>
    <Source definitionId="9cbfa28c-2b19-40f4-9f8e-bbc52bd8e780">
      <Value>our.umbraco.com</Value>
      <Directives>
        <Directive>default-src</Directive>
        <Directive>img-src</Directive>
      </Directives>
    </Source>
  </Sources>
</CspManager>